.navegacao{
    height: 160px;
}
.menus-navegacao{
    flex-direction: column;
    padding: 5px 0;
}
.nav-texto{
    flex-direction: column;
    text-align: center;
}
.titulo-secao{
    text-align: center;
}
.margem-superior{
    height: 10rem;
}
.texto-menu{
    padding: 2px;
}
.dados-entrada{
    flex-direction: column;

}
.caixa-entrada, .caixa-saida{
    flex-direction: column;
    text-align: center;
    margin: 0px;
}
